#main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
div {
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif;
}
#refresh {
	font-size: 30px;
    position: absolute;
    top: 0px;
    right: 8px;
}
#day {
    font-size: 15px;
    position: fixed;
    bottom: 5px;
    width: 100%;
}
a {
	color: #fff
}
#icon {
    font-size: 100px;
}
#weather {
    font-size: 40px;
}
#temperature {
    font-size: 30px;
}
#wind_speed {
    font-size: 30px;
}
#humidity {
    font-size: 30px;
}
#timezone {
    font-size: 30px;
}
table {
    text-align: center;
    font-size: 22px;
}